<html>
<head>
	<title>Kvantum</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
	<body>
		<div class="top"><i><marquee><%=message%></marquee></i></div>
		<div class="container books">
			<h1 class="header">SEARCH YOUR BOOK</h1>
			<div class="col-sm-12 input-group input-lg"> 
                 <input type="text" class="form-control" placeholder="Search" name="search" id="searchInput" />
	             <div class="input-group-btn">
	            	<a href='' onclick="this.href='/show/'+document.getElementById('searchInput').value">
	            		<button class="btn btn-success glyphicon glyphicon-search" type="button"></button>
                	</a>
                </div>
            </div>
		</div>
		<div class="footer">
			KVANTUM ASSESSMENT <br> <font size = "4"><i>SUBMITTED BY:</i> DHRUV KAPOOR</font>
	  	</div>
	</body>
</html>











